img{
    width: 100%;
}

#root,
html,
.navbar{
    background-color: rgb(240, 20, 30);
}

.descricao{
    width: 50%;
}

.jumbotron{
    /*background-color: rgb(224, 86, 86) !important;*/
    background-color: rgb(30, 30, 30) !important;
    color: white;
}

.bannerImg{
    width: 70%;
    margin-left: 15%;
}

.semBorda{
    border: none !important;
}

.cardCabeçalho,
.select{
    background-color: rgb(42, 42, 42) !important;
    color: white !important;
}

.cardCorpo{
    background-color: rgb(30, 30, 30) !important;
    color: white;
}

.botao{
    background-color: rgb(240, 20, 30) !important;
}

.botaoPreto{
    background-color: rgb(30, 30, 30) !important;
    color: white;
}
